In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

Load the wine

In [ ]:
df = pd.read_csv("data/wines.csv", index_col=0)
print(df)
print(df.columns)

         country  ...                                    winery
0          Italy  ...                                   Nicosia
1       Portugal  ...                       Quinta dos Avidagos
2             US  ...                                 Rainstorm
3             US  ...                                St. Julian
4             US  ...                              Sweet Cheeks
...          ...  ...                                       ...
129966   Germany  ...  Dr. H. Thanisch (Erben MÃ¼ller-Burggraef)
129967        US  ...                                  Citation
129968    France  ...                           Domaine Gresser
129969    France  ...                      Domaine Marcel Deiss
129970    France  ...                          Domaine Schoffit

[129971 rows x 13 columns]
Index(['country', 'description', 'name', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

In [ ]:
# How many wines have been given a rating of 100 points?
wines_with_100_points = df[df.points == 100]
count_of_100_point_wines = wines_with_100_points.shape[0]
print(f"Number of wines with 100 points: {count_of_100_point_wines}")

Number of wines with 100 points: 19

In [ ]:
# What is the name of the most expensive wine?
maximum_price = df.price.max()
wine_index_with_maximum_price = df[df.price == maximum_price].index[0]
most_expensive_wine = df[df.index == wine_index_with_maximum_price]
print(most_expensive_wine.name)

80290    Glamorosa Sensible
Name: name, dtype: object

In [ ]:
# Calculate a new column where you show the rating on a scale of 0 - 5. Floats are allowed.
df["new_rating"] = df.points / 20
print(df.head())

   Unnamed: 0   country  ...               winery new_rating
0           0     Italy  ...              Nicosia       4.35
1           1  Portugal  ...  Quinta dos Avidagos       4.35
2           2        US  ...            Rainstorm       4.35
3           3        US  ...           St. Julian       4.35
4           4        US  ...         Sweet Cheeks       4.35

[5 rows x 15 columns]

In [ ]:
# Create a histogram of wines that cost less than 100
df_under_100 = df[df.price < 100]
df_under_100.price.hist()
plt.show()

In [ ]:
# Plot price horizontally vs points vertically
plt.scatter(df.price, df.points)
plt.xlabel('Price')
plt.ylabel('Points')
plt.title('Price vs Points')
plt.show()